* {
    box-sizing: border-box !important;
}

body {
    background-color: rgb(255, 251, 250);
}

main {
    min-height: 567px;
    padding: 0px 20px;
}

nav a:hover {
    color: #fcf95c !important;
}

h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    padding-left: -20px;
    font-weight: bold;
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 5px;
    background: linear-gradient(0.25turn,#222ba5,rgb(241, 237, 237));
    color: rgb(255, 255, 255);
}

footer {
    /* position: absolute;
    bottom: 0; */
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(254,163,58);
    /* background-color: rgb(240, 248, 246); */
}

footer a {
    text-decoration: none;
}

#inscription {
    display: flex;
    flex-direction: row;
}

#inscription fieldset {
    margin-left: 400px;
    width: 100%;
}

#inscription span {
    color: green;
}

#inscription .form-group {
    width: 1000px;
}

#inscription .container {
    width: 1000px;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#inscription label {
    margin-top : 5px;
}

/* 
label {
    display: inline-block;
    width: 140px;
    margin-bottom: 5px;
}

fieldset input {
    width: 200px;
}

fieldset {
    background-color: rgb(201, 191, 191);
}

legend {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.808);
    color: aliceblue;
} */

.centering {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.titre_accueil {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    width: fit-content;
    margin-top: 30px;
    font-weight: bold;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 25px;
    background: rgb(254,163,58) !important;
    color: rgb(0, 0, 0);
}

.titre_accueil .green {
    color:rgb(100,122,135);
}

.titre_accueil .white {
    color:rgb(255, 255, 255);
}

#tables_infos {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.formulaireSub {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.formulaireSub fieldset input {
    margin-left: 50px;
    width: 260px !important;
}

.formulaireSub span {
    color: red;
}

.formulaireLogin {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.formulaireLogin fieldset input {
    margin-left: 50px;
    width: 210px !important;
}

.formTitle {
    width: fit-content;
    padding: 5px 10px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    background-color: black;
    color: rgb(201, 191, 191);
}

.formButton {
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

.headerLog {
    display: inline;
}

.headerLog img {
    position: relative; top: 2px;
}

.headerLog a {
    text-decoration: none;
}


/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

.liste {
    padding: 0px 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 247, 245, 0.959);
}

.infos {
    box-sizing: border-box;
    padding: 15px 30px;
    margin-bottom: 30px;
    width: auto;
    height: 100%;
}

.infos .titre {
    min-height: 5%;
    max-height: 5%;
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
}

.infos .titre a {
    text-decoration: none;
    color: rgb(30, 37, 83);
}

.infos .titre a:hover {
    text-decoration: none;
    color: rgb(104, 115, 184);
}

.licence span {
    padding: 0px 5px 5px;
    margin-right: 5px;
    background-color: rgba(187, 96, 60, 0.966);
    color: antiquewhite;
}

.statut span {
    padding: 0px 5px 5px;
    margin-right: 5px;
    background-color: rgba(187, 96, 60, 0.966);
    color: antiquewhite;
}

.infos .photos {    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    height: 30%;
}

.infos .photos img {
    width: 360px !important;
    height: 400px !important;
    object-fit: scale-down !important;
    overflow: hidden !important;
}

.infos .modsup {    
    text-align: end;
    padding-right: 20px;
}

.infos .modsup img {    
    height: 25px;
    margin-left: 10px;
}

.infos .modsup button a {    
    color: wheat;
}

#article {
    padding-left: 25px;
    background-color: rgb(248, 248, 248);
}

.en-tete {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infos_unique {
    padding: 5px 25px;
    background-color: rgb(248, 248, 248);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.profil h4 {
    display: inline-block;
    font-size: 16px;
    width: 170px;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.747);
    color: white;
    border: 0px solid;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 20px;
}

.profil h3 {
    margin-top: 30px;
    margin-bottom: 50px;
    padding: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 0px solid black;
    background-color: #63afd8;
    color: #fcf95c;
    font-size: 20px;
}

.profil p {
    display:inline;
}

.profil div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.image_profil img {
    height: 250px;
    padding-left: auto;
    padding-right: auto;
}

.donnees_profil p {
    font-size: 18px;
    color: black;
}

.image_profil {
    width: 100%;
    padding-bottom: 30px;
}

.image_profil h4 {
    background-color: red !important;
}

.profil .modsup {    
    text-align: center;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profil .modsup img {   
    margin-top: 20px; 
    height: 40px;
}

.container_infos {
    display: flex;
    flex-direction: row;
}

.container_infos .donnees {
    width: 70%;
}

.container_infos .images {
    width: 30%;
}

#notif {
    padding: 80px 0px;
}

#notif hr {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 85%;
}

#notif hr:nth-last-child(1) {
    visibility: hidden;
}

.notif_joueurs {
    background-color: rgba(248, 248, 248);
    min-height: 600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 15px;
    display: flex;
}

.notif_joueurs .image_notif {
    width: 400px;
    min-width: 150px;
    margin-top: auto;
    margin-bottom: auto;
    box-sizing: border-box;
}

.notif_joueurs .image_notif img {
    width: 100%;
    padding: 0px 30px;
}

.notif_joueurs .contenu_notif {
    width: 600px;
    text-decoration: none;
    padding: 10px 30px;
    height: 100%;
    box-sizing: border-box;
}

.notif_joueurs a {
text-decoration: none;
}

.notif_joueurs .commentaires {
    width: auto;
    font-size: 20px;
}

.commentaires input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 40px !important;
    color: rgb(233, 241, 241) !important;
    background-color: rgb(146, 120, 145) !important;
    border-radius: 30px !important;
    font-size: 18px !important;
    padding: 10px 20px;
}

.commentaires input:hover {
    background-color: rgb(141, 99, 140) !important;
}

/* .contenu_notif {
width: 20%;
} */

.notif_joueurs .action_notif {
    margin-top: auto;
    margin-bottom: auto;
}

.notif_joueurs button {
    width: 120px !important;
    height: 55px !important;
    margin-left: 30px;
    margin-right: 10px;
    border-radius: 10px !important;
    font-size: 16px !important;
    background-color: rgba(233, 53, 53, 0.795) !important;
}

.notif_joueurs button:hover {
    background-color: rgba(233, 53, 53) !important;
}

.notif_joueurs button a {
    color: rgb(233, 241, 241) !important;
}

.titre_notif {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

.body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO */

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
	text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}

/* *************************** DARKMODE ******************************* */

.darkmode input, .darkmode article, .darkmode section, .darkmode footer, .darkmode main, .darkmode h1 {
    background-color: rgba(0, 0, 0, 0.897) !important;
    color:gray !important;
}

.darkmode nav {
    background-color: gray !important;
    color:black !important;
}